[submodule "bin2tap"]
	path = bin2tap
	url = https://github.com/lexbailey/bin2tap.git
[submodule "bas2tap"]
	path = bas2tap
	url = https://github.com/lexbailey/bas2tap.git
[submodule "fuse-emulator-for-ci"]
	path = fuse-emulator-for-ci
	url = git@github.com:lexbailey/fuse-emulator-for-ci.git
[submodule "libspectrum"]
	path = libspectrum
	url = https://git.code.sf.net/p/fuse-emulator/libspectrum
[submodule "sjasmplus"]
	path = sjasmplus
	url = https://github.com/z00m128/sjasmplus.git
